<div class="footer">
    {#<img class="logo-color" src="{{ asset('images/color.png') }}">#}
    <h3 class="title-footer"> Crédits </h3>
</div>
	{#<ul> #}
		{#{% for article in articles %}#}
			{#<li>#}
			{#<a class = "btn btn-xs" href="{{ path('blog_detail', {id:article.id} ) }}">#}
				{#[{{article.id}}] {{article.title}} <em> {{article.date | date('d-m-Y')}} </em>#}
				{#&#128214;#}
			{#</a>#}
			{#</li>#}
		{#{% endfor %} #}
	{#</ul>#}
</body>