<div class="col-lg-12">

	<div class="card">

		<h2 class="card-header">Nouveau lieu</h2>

		<div class="card-block">

			{{ form_start(form, {'attr': {'class': ''}}) }}

				<div class="card-img fileContainer">
					{{ form_errors(form.image.file) }}
					<img src="{{ asset('images/mama.png') }}" >
					{{ form_widget(form.image.file) }}
				</div>

				<div class="form-group card-title">
					{{ form_errors(form.name) }}
					{{ form_label(form.name, 'Nom', {'label_attr': {'class': 'col-form-label card-title'}}) }}
					{{ form_widget(form.name) }}
				</div>

				<div class="form-group card-text">
					{{ form_errors(form.article) }}
					{{ form_label(form.article, 'Présentation', {'label_attr': {'class': 'col-form-label card-title'}}) }}
					{{ form_widget(form.article) }}
				</div>

				<div class="form-group card-text">
					{{ form_errors(form.address) }}
					{{ form_label(form.address, 'Adresse', {'label_attr': {'class': 'col-form-label card-title'}}) }}
					{{ form_widget(form.address) }}
				</div>

				<div class="form-group card-text">
					{{ form_errors(form.latitude) }}
					{#{{ form_label(form.latitude, 'Latitude', {'label_attr': {'class': 'col-form-label card-title'}}) }}#}
					{#{{ form_widget(form.latitude, {'attr': {'readonly': 'readonly', 'style': 'display: inline;'}})}}#}
					{{ form_widget(form.latitude, {'attr': {'readonly': 'readonly', 'style': 'display: none;'}})}}
				</div>

				<div class="form-group card-text">
					{{ form_errors(form.longitude) }}
					{#{{ form_label(form.longitude, 'Longitude', {'label_attr': {'class': 'col-form-label card-title'}}) }}#}
					{#{{ form_widget(form.longitude, {'attr': {'readonly': 'readonly', 'style': 'display: inline;'}})}}#}
					{{ form_widget(form.longitude, {'attr': {'readonly': 'readonly', 'style': 'display: none;'}})}}
				</div>

				<div class="form-group card-text">
					{{ form_errors(form.partenaire) }}
					{{ form_label(form.partenaire, 'Partenaire', {'label_attr': {'class': 'col-form-label card-title'}}) }}
					{{ form_widget(form.partenaire) }}
				</div>

				{{ form_widget(form.submit, {'attr': {'class':'btn-primary'}}) }}
				<button class="btn btn-secondary"
						type="button"
						onclick="listEvents()">
					Retour aux événements
				</button>
			{{  form_end(form) }}
		</div>
	</div>
</div>

<!-- maps api : adress 2 lat/lon-->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>
	/* This showResult function is used as the callback function*/

	function showResult(result) {
		document.getElementById('place_latitude').value = result.geometry.location.lat();
		document.getElementById('place_longitude').value = result.geometry.location.lng();
	}

	function getLatitudeLongitude(callback, address) {
		// If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
		address = address || 'Ferrol, Galicia, Spain';
		// Initialize the Geocoder
		geocoder = new google.maps.Geocoder();
		if (geocoder) {
			geocoder.geocode({
				'address': address
			}, function (results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					callback(results[0]);
				}
			});
		}
	}

	var address_input = document.getElementById('place_address');

	address_input.addEventListener("change", function () {
		//alert("change");
		var address = document.getElementById('place_address').value;
		getLatitudeLongitude(showResult, address)
	});
</script>

<!-- on success -> go to 'events' list -->
<script>
	// based on: http://codepen.io/tcannonfodder/pen/avJyRJ
	// based on: http://stackoverflow.com/a/9622978
	$('form[name="place"]').submit(function(e) {
		center_div = $('#center');
		e.preventDefault();
		var form = e.target;
		var data = new FormData(form);
		$.ajax({
					url: $(this).attr("action"),
					method: "POST",
					processData: false,
					contentType: false,
					data: data
				})
				.done(function (data){
					center_div.html(data);
				});
	});
</script>