  <div class="event-groups">

      {#TODO si desc article#}
      <article>
          <img class="photo-desc" src="{{ asset('images/placeImage.png') }}">
          <h4>{{ place.name }}</h4>
          <text class = "desc">{{ place.address}}</text>
          <text class = "desc">{{ place.short}}</text>
          <text class = "desc">{{ place.article}}</text>
      </article>

      <br>
    </div>