<div class="event-groups">

    {%  if (place.image is not null) and (place.image.url is not null) %}
        <img class="photo-desc" src="../../images/{{ place.image.url }}">
    {% else %}
        <img class="photo-desc" src="{{ asset('images/placeImage.png') }}">
    {% endif %}

    <article>
        <h4>{{ place.name }}</h4>
        <text class = "desc">{{ place.address}}</text>
        <text class = "desc">{{ place.article}}</text>
    </article>

    <br>
</div>