<div class="row event music-event"
     onclick="  moveToPlace({{ event.place.latitude }}, {{ event.place.longitude }});
                setEventDetail_toCenterDiv();"
     data-latitude="{{ event.place.latitude }}"
     data-longitude="{{ event.place.longitude }}"
     data-place-name="{{ event.place.name }}"
>

    <text class="event-start-big col-lg-2">{{ event.start | date('H\\hi') }}</text>

    <div class="event-style-concert col-lg-1">
        <img class="event-style-concert-cat-icon"
             src="{{ asset('images/cats/' ~ event.category ~ '.png') }}"/>
    </div>

    <div class="col-lg-6">
        <text class="event-title">
            {{ event.title }}<br>{#<strong>{{ event.price }} €</strong><br>#}
        </text>
        <text class="event-style-free">
            {{ event.category }}
        </text>

    </div>


    <text class="event-place col-lg-2"><em>{{ event.place.name }}</em></text>
</div>