<article class="event">
    <text class="event-start-big" color="#6cf1bc">{{ event.start | date('H\\:i') }}</text>
    <img  class="event-style-concert" src= "{{ asset('images/cats/' ~ event.category ~ '.png') }}"/>
    <text class="event-info">
        <h3><strong>{{ event.title }}</strong></h3>
        <em>{{ event.category }}</em><br>
        <strong>{{ event.price }} €</strong><br>
    </text>
    <text class="event-place"><em>{{ event.place.name }}</em></text>
</article>