{%  extends "events/layout.html.twig" %}

{% block title %}
	{{ parent()}} - concerts
{% endblock %}

{% block body %}
	<h2>
        &#9835; Le programme des concerts du  <text class="dateBig"> {{ date | date('d M Y')}}</text>
    </h2>
    <div class="west">
        <div class="datepicker-here" data-language='fr'></div>
    </div>

    <div class="events">
        <ul>
            {% for event in events %}
                {% if event.type == "concert" %}
                    <li>
                        <article class="event">
                            <text class="event-start-big"><strong>{{ event.start | date('H\\:i') }}</strong></text>
                            <img  class="event-style-concert" src= "{{ asset('images/cats/' ~ event.category ~ '.png') }}"/>
                            <text class="event-info">
                                <h3><strong>{{ event.title }}</strong></h3>
                                <em>{{ event.category }}</em><br>
                                <strong>{{ event.price }} €</strong>  -  fin : {{ event.end | date('h\\Hi') }}<br>
                            </text>
                            <text class="event-place"><em>LE LIEU !</em></text>
                        </article>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="east">
        <div class="group">
            <img class="photo-group" src="{{ asset('images/photo_group.png') }}">
            <h3><strong>Ilé Trio Brazil</strong></h3>
            <text>Daniel Ilé, Guillaume Rodriguez & Vladimir Derevitsky.
                Samba forró reggae MPB bossa nova.
            </text>
        </div>

        <div class="map">
            <img class="map3d" src="{{ asset('images/map.png') }}">
            <h3><strong>La petite scène</strong></h3>
            <text>6 Rue de la Fontaine</text><br>
            <text>34000 Montpellier</text><br>
            <text>04 67 54 22 15</text>
        </div>
    </div>

{% endblock %}