<div id="{{ 'event_' ~ event.id }}"
     class="row event music-event shadow"
     onclick="  moveToPlace({{ event.place.latitude }}, {{ event.place.longitude }});
                setEventDetail_toCenterDiv({{ event.id }});"
     data-latitude="{{ event.place.latitude }}"
     data-longitude="{{ event.place.longitude }}"
     data-place-name="{{ event.place.name }}"
>

    <text class="event-start-big col-lg-1">{{ event.start | date('H\\hi') }}</text>

    <div class="event-style-concert col-lg-3">
        <img class="event-style-bg" src="{{ asset('images/cats/style_bg.png') }}"/>
        <img class="event-style-concert-cat-icon"
             src="{{ asset('images/cats/' ~ event.category.name ~ '.png') }}"/>
    </div>

    <div class="col-lg-5">
        <text class="event-title">
            {{ event.title }}<br>{#<strong>{{ event.price }} €</strong><br>#}
        </text>
        <text class="event-style-free">
            {{ event.category.name }}
        </text>

    </div>


    <text class="event-place col-lg-2"><em>{{ event.place.name }}</em></text>
</div>

<script>
    $(document).ready(function() {
        delayOver(document.getElementById("{{ 'event_' ~ event.id }}"), function () {
            moveToPlace({{ event.place.latitude }}, {{ event.place.longitude }});
            setEventDetailSmall({{ event.id }});
            setPlaceDetailSmall({{ event.place.id }});

        }, 500);

    });
</script>
