  <div class="event-groups">

      {#TODO si desc article#}
      <article>
          <h4>{{ event.title }}</h4> <br>
          {%  if (event.image is not null) and (event.image.url is not null) %}
              <img class="photo-desc" src="../../images/{{ event.image.url }}">
          {% endif %}
          <text class = "desc">
              {{ event.article }}
          </text> <br>
      </article>

      {#TODO symfony for each group article#}
      {% for group in event.groups %}
          <div class="group-full">

              {%  if (group.image is not null) and (group.image.url is not null) %}
                  <img class="photo-desc" src="../../images/{{ group.image.url }}">
              {% else %}
                  <img class="photo-desc" src="{{ asset('images/photo_group.png') }}">
              {% endif %}

              <article>
                  <h4>{{ group.name }}</h4>
                  <text class = "desc">{{ group.article }}</text>
              </article>
          </div>

      {% endfor %}

    </div>