<div class="event-groups col-lg-12">

    <div class="card">

        <div class="card-block">
            <h4 class="card-title">{{ event.title }}</h4>
            {%  if (event.image is not null) and (event.image.url is not null) %}
                <img class="" src="../../images/{{ event.image.url }}" width="100%">
            {% endif %}
            <p class="card-text">{{ event.article }}</p>
        </div>

        <div class="card-group">
            {% for group in event.groups %}

                <div class="card">

                    <div class="card-block">
                        <h4 class="card-title">{{ group.name }}</h4>
                        {%  if (group.image is not null) and (group.image.url is not null) %}
                            <img class="card-img-top" src="../../images/{{ group.image.url }}">
                        {% else %}
                            <img class="card-img-top" src="{{ asset('images/photo_group.png') }}">
                        {% endif %}
                        <p class="card-text">{{ group.article }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>