<div class="event-cell-view row" onclick="moveToPlace({{ event.place.latitude }}, {{ event.place.longitude }});">
    <div class="event exposition-event" data-latitude="{{ event.place.latitude }}" data-longitude="{{ event.place.longitude }}" data-place-name="{{ event.place.name }}">

        <text class="event-start-big col-xs-2" color="#6cf1bc">{{ event.start | date('H\\:i') }}</text>

        <div class="col-xs-2 event-style-expo-background">
            <img  class="event-style-concert col-xs-12" src= "{{ asset('images/cats/' ~ event.category ~ '.png') }}"/>
        </div>

        <div class="col-xs-5">
            <text class="event-info">
                {{ event.title }}<br>
            </text>
            <text class="event-style-free">
                {{ event.category }}
            </text>
        </div>

        <div class="col-xs-3">
            <text class="event-place"><em>{{ event.place.name }}</em></text>
        </div>
    </div>
</div>