{%  extends "concerts/layout.html.twig" %}

{% block title %}
	{{ parent()}} - concerts
{% endblock %}

{% block body %}
	<h2>Le programme des concerts du <text class="dateBig">{{ date | date('d M Y')}}</text></h2>
    <div class="west">

    </div>
    <div class="events">
        <ul>
            {% for event in events %}
                <li>
                    <article class="event">
                        <text class="event-start-big"><strong>{{ event.start | date('h\\:i') }}</strong></text>
                        <img  class="event-style" src= "{{ asset('images/concerts/' ~ event.category ~ '.png') }}"/>
                        <text class="event-info">
                            <h3><strong>{{ event.title }}</strong></h3>
                            <strong>{{ event.price }} €</strong>  -  fin : {{ event.end | date('h\\Hi') }}<br>
                            <em>{{ event.category }}</em><br>
                        </text>
                        <text class="event-place"><em>LE LIEU !</em></text>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}